[Unit]
Description=HTTP response UptimeKuma and Prometheus json API
After=multi-user.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/main.py
WorkingDirectory=/home/pi
Restart=always

[Install]
WantedBy=multi-user.target